.location-input-box {
    width: 400px !important;
    border: 2px solid black;
  }
  
  .list-autocomplete {
    cursor: pointer;
  }
  
  .list-autocomplete:hover {
      background-color: #dcdcdc;
  }
  
  .full-list {
    padding: 5px;
    max-height: 60%;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid !important;
    border-left: 2px solid;
    border-image: initial;
    border-top: none;
    list-style-type: none;
    text-align: left;
    overflow-y: auto;
  }
  